<fieldset>
  <legend><%= @song.performer %> - <%= @song.title %><%= @song.print_remix %></legend>
  <% if @cuesheet %>
    <%= link_to "Back to #{@cuesheet.performer} - #{@cuesheet.title}", cuesheet_path(@cuesheet) %>
    <br />
    <br />
  <% end %>
  <div id="other_cuesheets">
    <h3>Cuesheets with this song (<%= @cuesheets.size %>)</h3>
    <% @cuesheets.each do |cuesheet| %>
      <%= link_to "#{cuesheet.performer} - #{cuesheet.title}", cuesheet_path(cuesheet) %>
      <br />
    <% end %>
  </div>
  <br />
  <div id="other_remixes">
    <h3>Remixes of this song (<%= @remixes.size %>)</h3>
    <% @remixes.each do |song| %>
      <%= link_to "#{song.performer} - #{song.title} (#{song.remix})", song_path(song) %>
      <br />
    <% end %>
  </div>

</fieldset>
