<fieldset>
  <legend><%= @song.performer %> - <%= @song.title %><%= @song.print_remix %></legend>
  <% if @cuesheet %>
    <%= link_to "Back to #{@cuesheet.performer} - #{@cuesheet.title}", cuesheet_path(@cuesheet) %>
    <br />
    <br />
  <% end %>
  <div id="other_cuesheets">
    <h3>Cuesheets with this song (<%= @cuesheets.count %>)</h3>
    <% @cuesheets.each do |cuesheet| %>
      <%= link_to "#{cuesheet.performer} - #{cuesheet.title}", cuesheet_path(cuesheet) %>
      <br />
    <% end %>
  </div>

</fieldset>
