<fieldset>
  <legend><%= @cuesheet.performer %> - <%= @cuesheet.title %></legend>
  <%= link_to "Back to index", :action => 'index' %>
  <br />
  <%= link_to "Download this cuesheet", {:action => 'export', :id => @cuesheet.id } %>
  <br />
  <%= link_to "Remove this cuesheet", @cuesheet, :method => :delete, :confirm => 'Are you sure?' %>
  <br />
  <br />
  Download count: <%= @cuesheet.download_count %>
  <br />
  <br />
  Tracklist:
  <br />
  <table id="tracklist">
  <% @cuesheet.tracks.each do |track| %>
    <tr>
      <td>[<%= track.print_index %>]</td>
      <td><%= track.print_track_num %>.</td>
      <td><%= link_to "#{track.song.performer} - #{track.song.title}", song_path(track.song) %></td>
      <% if track.song.remix %>
        <td><%= track.song.remix %></td>
      <% else %>
        <td>None</td>
      <% end %>
      <td>(<%= track.print_length %>)</td>
    </tr>
  <% end %>
  </table>
</fieldset>
