<fieldset>
  <legend><%= @cuesheet.performer %> - <%= @cuesheet.title %></legend>
  <%= link_to "Back to index", :action => 'index' %>
  <br />
  <%= link_to "Download this cuesheet", {:action => 'export', :id => @cuesheet.id } %>
  <br />
  <%= link_to "Remove this cuesheet", @cuesheet, :method => :delete, :confirm => 'Are you sure?' %>
  <br />
  <br />
  Download count: <%= @cuesheet.download_count %>
  <br />
  <br />
  Tracklist:
  <br />
  <table id="tracklist">
  <% @cuesheet.tracks.each do |track| %>
    <% @track = track %>
    <%= render :partial => 'song_row', :locals => { :track => @track } %>
  <% end %>
  </table>
</fieldset>
