<fieldset>
  <legend><%= @cuesheet.performer %> - <%= @cuesheet.title %></legend>
  <%= link_to "Back to index", :action => 'index' %>
  <br />
  <%= link_to "Download this cuesheet", {:action => 'export', :id => @cuesheet.id } %>
  <br />
  <%= link_to "Remove this cuesheet", @cuesheet, :method => :delete, :confirm => 'Are you sure?' %>
  <br />
  <br />
  Download count: <%= @cuesheet.download_count %>
  <br />
  <br />
  Tracklist:
  <br />
  <table id="tracklist">
  <% @cuesheet.tracks.each do |track| %>
    <tr>
      <td>[<%= track.print_index %>]</td>
      <td><%= track.print_track_num %>.</td>
      <td id="display_<%= dom_id(track.song) %>"><%= link_to "#{track.song.performer} - #{track.song.title}", song_path(track.song) %>
        (<%= link_to_function "Edit", "$('edit_#{dom_id(track.song)}').show();$('display_#{dom_id(track.song)}').hide();" %>)
      </td>
      <td id="edit_<%= dom_id(track.song) %>" style='display:none;'><% form_remote_for track.song do |f| %>
          <%= f.text_field :performer, :size => 15 %>
          <%= f.text_field :title, :size => 15 %>
        <%= submit_tag 'Save' %></td>
      <% end %>
      <% if track.song.remix %>
        <td><%= track.song.remix %></td>
      <% else %>
        <td>None</td>
      <% end %>
      <td>(<%= track.print_length %>)</td>
    </tr>
  <% end %>
  </table>
</fieldset>
